.header{
    width: 100%;
    height: 60px;
    background-color: #F5EDED;
}

.logo{
    display: inline-block;
    width: 20%;
    margin: 10px 0;
    text-align: center;
    font-family: myFirstFont;
    a{
        color: #0F0E0E;
        text-decoration: none;
        transition: all .5s ease-out;
    }

    a:hover{
        opacity: .95;
    }
}

.menu{
    display: inline-block;
    text-align: right;
    width: 80%;
    font-family: myFourthFont;

    ul{
        margin: 10px 50px 0 10px;
        text-align: right;
    }


    li{
        display: inline-block;
        margin: 0 0 0 10px;
        font-size: 20px;
        font-weight: 600;
    }
    
    a{
        color: #0F0E0E;
        text-decoration: none;
        transition: all .5s ease-out;
        padding: 5px 30px;
        border-radius: 5px;

        &:hover{
            opacity: .95;
            background-color: #0F0E0E;
            color: #F5EDED;
        }
        
    }
    
    li:last-child{
        
        a{
            background-color: #FFB835;
            color: #0F0E0E;
            text-decoration: none;
            transition: all .5s ease-out;
            padding: 5px 30px;
            border-radius: 5px;

            &:hover{
                background-color: #0F0E0E;
                color: #FFB835;
    
            }
        }
    }


    

}
