@font-face {
  font-family: myFirstFont;
  src: url(../src/assets/fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
  font-family: mySecondFont;
  src: url(../src/assets/fonts/Kalam-Regular.ttf);
}
@font-face {
  font-family: myThirdFont;
  src: url(../src/assets/fonts/ConcertOne-Regular.ttf);
}

@font-face {
  font-family: myFourthFont;
  src: url(../src/assets/fonts/NewsCycle-Regular.ttf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-family: 'Lucida Sans Regular'; */
  font-family: sans-serif;
  background-color: #0F0E0E;

}

body {
direction: ltr;
}

.active-link{
  opacity: .95;
  background-color: #0F0E0E;
  color: #F5EDED!important;
}
